.page{
    overflow: hidden;
    /* overflow-y: hidden; */

}
.mainpage{
    display:flex;
}
.left{
    border:1px solid #F0BF6C;
    width:50%;
    height:55vh;
    margin-left: 5rem;
}
.detail{
    color:rgba(255, 255, 255, 0.788);
    font-size: 30px;
    justify-content: center;
    align-items: center;
    /* border:1px solid #F0BF6C; */
    margin-left:1rem;
}
.name{
    color:#F0BF6C;
    display: inline-block;
    margin-left:1rem;
    font-weight: 700;
    font-size: 35px;
    /* border:1px solid #F0BF6C; */
}
.right{
    border:1px solid #F0BF6C;
    width:50%;
    height:55vh;
}
.footer{
    color:rgba(255, 255, 255, 0.788);
    border:1px solid #F0BF6C;
    width:100%;
    margin-left:5rem;
}
.foot{
    margin-top:2rem;
    font-weight: 700;
    font-size:50px;
    margin-left:1rem;
}
.line{
    display:flex;
}
.aboutline{
    width: 300px;
    height: 10px;
    display: inline-block;
    background-color: #F0BF6C;
    margin-left:1rem;
    border-radius: 5px;
    margin-top:1rem;
}
.about{
    display: inline-block;
    margin-top:0rem;
    margin-left:2rem;
    font-size:20px;

}