body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */
/* .menu{ */
  /* width: 50px;
  height: 40px;
  cursor:pointer; */
/* } */
.main{
  height: 3rem;
  background-color: #34353A;
  border-bottom: 1px solid #F0BF6C;
  /* border: 1px solid red; */
  /* align-items: center;*/
}
.title{
  width: 10rem;
  /* justify-content: center;  */
  font-size:20px;
  display: inline-block;
  /* align-items: center; */
  display: inline-block;
  color:white;
  /* padding: 0 1rem 0 1rem; */
  margin-left: 4rem;
  margin-top: 7px;
  border: 1px solid rgb(25, 25, 219);
}
.mar{
  /* margin-left: 3rem; */
  /* border: 1px solid rgb(214, 20, 198); */
  display: inline-block;

}